:root{
    --main-bg-color: #252525
}

*{
    font-family: 'SF Pro Display', sans-serif;                      
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.main-maincontainer{
    display: grid;
    place-items: center;
}

.maincontainer{
    width: 80vw;
    max-width: 1320px;
}

/* Header */

header{
    background-color: var(--main-bg-color);
    position: fixed;
    width: 80vw;
    max-width: 1320px;
    z-index: 999;
}

.container-fluid{
    background-color: none;
    margin-top: 2px;
}

.nav-item a, .nav-item nav-link.active{
    color: white;
}

.nav-link.dropdown-toggle{
    color: white;
}

li a.dropdown-item{
    color: black;
}

#logo{
    width: 200px;
} 

.btn.btn-outline-success{
    background-color: #252525;
    color: white;
    border: 1px solid white;
}

.btn.btn-outline-success:hover{
    background-color: gray;
    border: 1px solid black;
    transition: 0.5s;
}

/* Carrito navBar */

button.btn.btn-primarys{
    margin-left: 8px;
    width: 50px;
    height: 50px;
    background-color: none;
    border: 1px solid white;
    z-index: 800;
}

.count-cart{
    position: absolute;
    top: 54px;
    right: 26.5px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

button.btn.btn-primarys svg{
    color: white;
}

button.btn.btn-primarys:hover{
    background-color: gray;
    border:1px solid  black;
    transition: 0.5s;
}

.offcanvas.offcanvas-end{
    transition: 0.5s;
}

/* Main Page */

.main{
    position: relative;
    top: 120px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.content-main{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 18% 80%;
    justify-content: center;
    gap: 30px;
    background-color: #fff;
    border-radius: 15px;
}

/* Contenido Main */

/* Filtros */

.filtros{
    max-width: 260px;
}

.F-marca, .F-almacenamiento, .F-5G{
    margin: 12px;
}

.check-marcas, .check-espacios, .check-conect{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
}

.marcas, .espacio, .conect{
    position: relative;
    margin: 5px;
    left: 5px;
}

.marcas input, .espacio input, .conect input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.marcas label, .espacio label, .conect label, .filtros div h2, hr{
    color: #1d1d1d;
}

/* Catalogo */

.catalogo{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1em;
}

/* Cards */

img.card-img-top{
    width: 250px;
    margin-left: 35px;
}

.catalogo .card{
    border-radius: 15px;
}

.card-price{
    width: 100%;
    margin-top: 16px;
    position: absolute;
    font-size: 16px;
}

/* Colores y almacenamiento*/

.colores-container, .almacenamiento{
    display: flex;
    font-size: 12px;
}

.radio-tile-group, .almace-tile-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colores, .tamanios{
    position: relative;
    top: 5px;
}


/*Input Colores*/

.colores input{
    position: absolute;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 2;
    margin: 3px;
    opacity: 0;
}

.colores .radio-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 30px;
}

input:checked + .radio-color{
    border: 2px solid black;
}

/* Almacenamiento */

.tamanios input{
    position: absolute;
    height: 30px;
    width: 60px;
    cursor: pointer;
    z-index: 3;
    margin: 3px;
    opacity: 0;
}

.tamanios .radio-almacena{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60px;
    margin: 3px;
    border-radius: 30px;
    color: #1d1d1d;
}

input:checked + .radio-almacena{
    border: 1px solid black;
}

/* Boton Agregar Carrito */

button.btn.btn-primary{
    margin-top: 50px;
    margin-left: 60px;
    width: 170px;
    transition: 0.5s;
}

button.btn.btn-primary:hover{
    padding-right: 140px;
}

button.btn.btn-primary:after{
    content: 'Agregar al carrito';
    opacity: 0;
    position: absolute;
    bottom: 22px;
    left: 116px;
    transition: 0.5s;
}

button.btn.btn-primary:hover:after{
    opacity: 1;
}

.modal.fade{
    transition: 0.5s;
}


/* Footer */

.pie-pagina{
    width: 80vw;
    background-color: var(--main-bg-color);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2f2f2f;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 15px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(125, 125, 125);
}

.pie-pagina .grupo-2{
    background-color: #1d1d1d;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* Carrito */

.offcanvas.offcanvas-end{
    color: #fff;
}

.carrito-title{
    width: 400px;
    height: 71px;
    display: grid;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 28px;
}

.carrito-title h2{
    font-size: 15px;
}

.carrito-title button{
    background-color: #2f2f2f;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    position: absolute;
    right: 25px;
    top: 15px;
}

.division{
    height: 1px;
    width: 80%;
    background-color: #4c4c4c;
    margin: 0px 10%
}

/* carrito items */

.carrito-items{
    width: 340px;
    height: 350px;
    margin: 20px 30px 20px 30px;
    overflow: hidden;
    overflow-y: scroll;
}

.carrito-items::-webkit-scrollbar {
    width: 4px;
}

.carrito-items::-webkit-scrollbar-thumb {
    background-color: #4c4c4c;
    border-radius: 20px;
}

.item{
    width: 340px;
    height: 154px;
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 40px;
    gap: 10px;
}

.carrito-foto img{
    width: 119px;
}

.carrito-nombre{
    margin-bottom: 7px;
}

.carrito-nombre{
    margin-bottom: 7px;
}

.carrito-nombre h2{
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.carrito-detalles{
    display: grid;
    grid-template-columns: 30% 40%;
    height: 50px;
    margin-bottom: 7px;
}

.carrito-color, .carrito-almacenamiento{
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

.carrito-color p, .carrito-almacenamiento p{
    background-color: rgb(138, 138, 138);
    margin: 0;
    padding: 5px;
    border-radius: 20px;
    color: #272727;
}

.carrito-seleccion{
    width: 220px;
    height: 42px;
    display: grid;
    grid-template-columns: 60% 20%;
    margin-bottom: 7px;
}

.carrito-cantidad{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#cantidad{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

#cantidad h2{
    font-size: 22px;
    position: relative;
    top: 5px;
}

.menos, .mas{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #2f2f2f;
}

.menos{
    border-radius: 10px 0 0 10px;
}

.mas{
    border-radius: 0 10px 10px 0;
}

#trash{
    border: none;
    background-color: transparent;

}

.botones-cantidad{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.carrito-precio p{
    margin: 0;
    font-size: 20px;
}

.carrito-resumen{
    width: 100%;
    height: 250px;
}

.carrito-total{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 360px;
    height: 50px;
    margin: 20px;
}

.carrito-total h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    margin: 0;
    font-size: 21px;
}

.carrito-total p{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    align-items: center;
    margin: 0;
    font-size: 20px;
}

.carrito-controles{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 20px;
}

.finalizar button, .seguir button{
    border: none;
    width: 200px;
    height: 40px;
    color: #252525;
    border-radius: 30px;
    transition: 0.5s;
}

.finalizar button:hover, .seguir button:hover{
    background-color: #4c4c4c;
    color: #fff;
    transition: 0.5s;
}

/* Responsive */

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .maincontainer{
        width: 100vw;
    }
    header{
        width: 100vw;
    }
    .container-brands{
        flex-flow: column wrap;
    }
    .brands{
        width: auto;
        min-width: 350px;
    }
    .container-brands{
        margin: 30px;
    }
}

