*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

body{
    background: #d7d7d7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a img{
    width: 300px;
    margin-top: 20px;
}

.container{
    width: 330px;
    padding: 2rem 1rem;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.container-contrasena{
    width: 500px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}
h5{
    font-size: 1rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    background: #e4e4e4;
}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 15px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #252525;
}

button:hover{
    background: rgba(0, 0, 0, 0.8);
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terminos{
    margin-top: 0.2rem;
}

.terminos input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.terminos label{
    font-size: 0.7rem;
    color: #595959;
}

.terminos a{
    color: #252525;
    text-decoration: none;
}

.miembro{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #595959;
}

.miembro a{
    color: #252525;
    text-decoration: none;
}

.recuperar{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recuperar a{
    text-decoration: none;
    color: #252525;
}